#footer {
  margin-top: 50px;
  padding: 50px 80px 0 80px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.footer__row {
  display: flex;
  font-size: 14px;
}

.footer__column--nav {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  width: 270px;
}

.footer__column--nav span,
.footer__column--nav a {
  display: inline-block;
  margin-bottom: 23px;
}

.footer__column--nav span {
  font-weight: bold;
}

.footer__row:last-child {
  margin-top: 50px;
  border-top: 0.5px solid var(--grey_3);
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--info__column:last-child a {
  margin-left: 25px;
}

.footer--info__column:last-child a:nth-child(3) {
  margin-left: 60px;
}

.footer--info__column:last-child span {
  margin-left: 10px;
  text-decoration: un;
}
