.section__row {
  margin: var(--margin-center);
  margin-top: 100px;
}

.section__title {
  font-size: 40px;
  font-weight: 800;
}

.section__row {
  display: flex;
  flex-direction: column;
  width: 1358px;
}

.recommended-city,
.experimental {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}

.recommended-city__column {
  width: 322px;
  height: 429px;
  margin-right: 25px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.city-img,
.city {
  height: 50%;
}
.city-img img {
  height: 100%;
}

.city h1 {
  font-size: 2em;
}

.city span {
  font-size: 1.2em;
  margin-top: 18px;
  display: inline-block;
}
.recommended-city__column:first-child .city {
  background-color: #bc1a6e;
}

.recommended-city__column:nth-child(2) .city {
  background-color: #d93b30;
}

.recommended-city__column:nth-child(3) .city {
  background-color: #de3151;
}

.recommended-city__column:last-child .city {
  background-color: #cc2d4a;
}

.recommended-city__column:last-child img {
  width: 100%;
}

.recommended-city__column:last-child {
  margin: 0;
}

.city {
  color: white;
  padding: 22px 14px;
}

.city h1,
.city {
  font-family: "Gugi", cursive;
}

.experimental__column {
  width: 668px;
  height: 764px;
  margin-right: 25px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.experimental__column:last-child {
  margin: 0;
}

.experimental__column img {
  height: 100%;
}

.experimental--text {
  position: absolute;
  color: white;
  padding: 84px;
}

.experimental--text h1 {
  font-size: 50px;
  line-height: 58px;
  font-weight: bold;
}

.experimental--text a {
  color: black;
  display: inline-block;
  padding: 16px 26px;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: bold;
}

.hosting {
  height: 680px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.hosting img {
  width: 105%;
}
.hosting_qna {
  position: absolute;
  top: 0;
  padding: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.hosting_qna span,
.hosting_qna a {
  display: inline-block;
}

.hosting_qna span {
  font-size: 90px;
  font-weight: bold;
  color: white;
  line-height: 105px;
}

.hosting_qna a {
  background-color: white;
  font-weight: bold;
  padding: 15px 25px;
  width: 244px;
  text-align: center;
  border-radius: 10px;
}
